<mat-card style="display:flex; flex-direction: row;">
    <mat-card class="mat-card count-card bg-success mx-3 my-3">
        <mat-card-title>Num of Cards with 3000 Amount</mat-card-title>
        <mat-card-content>{{creditCardMaximumAmount}}</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card bg-warning mx-3 my-3">
        <mat-card-title>Num of Cards</mat-card-title>
        <mat-card-content>{{creditCardMaximumInterest}}</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card bg-info mx-3 my-3">
        <mat-card-title>Num of Cards</mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card bg-primary mx-3 my-3">
        <mat-card-title>Num of Cards</mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>

</mat-card>

<mat-card style="display:flex; flex-direction: row;">
    <mat-card class="mat-card count-card bg-success mx-3 my-3">
        <mat-card-title>Num of Cards with 3000 Amount</mat-card-title>
        <mat-card-content>{{creditCardMaximumAmount}}</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card bg-warning mx-3 my-3">
        <mat-card-title>Num of Cards</mat-card-title>
        <mat-card-content>{{creditCardMaximumInterest}}</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card bg-info mx-3 my-3">
        <mat-card-title>Num of Cards</mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card bg-primary mx-3 my-3">
        <mat-card-title>Num of Cards</mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>

</mat-card>